// 색상 변수 지정

// $primary: #f2555a;
// $font-navy: #141432;

// light theme

$mainBG: #fff;
$hbgBarColor: #888888;
$menuBG: rgba(237, 237, 237, 0.8);
$menuTitle: rgb(0, 0, 0, 0.7);
$menuTitleSpan: rgb(0, 122, 255, 0.7);
$menuTitleBG: rgb(237, 237, 237);
$menuList: rgba(30, 30, 34, 0.6);
$menuHover: #cacaca97;
$red: #ff3b30;
$blue: #007aff;
$modalBorder: rgb(0, 0, 0, 0.2);
$modalBG: rgba(230, 230, 230, 0.938);
$modalBtn: #dedede;
$iconColor: #c7c7cc;
$inputBorder: #e5e5ea;
$inputBG: #fafafadb;
$inputFocus: #3d9bff;
$modalMask: #0000008c;
$alertBG: rgba(221, 226, 237, 0.93);
