@font-face {
  font-family: 'SF-Pro';
  src: url('~/font/SF-Pro.woff') format('woff');
}

@font-face {
  font-family: 'SF-Pro-Italic';
  src: url('~/font/SF-Pro-Italic.woff') format('woff');
}

@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: 'SDGothicM';
  src: url('~/font/AppleSDGothicNeoM.woff') format('woff');
}

@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: 'SDGothicL';
  src: url('~/font/AppleSDGothicNeoL.woff') format('woff');
}

@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: 'SDGothicH';
  src: url('~/font/AppleSDGothicNeoH.woff') format('woff');
}

@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: 'SDGothicEB';
  src: url('~/font/AppleSDGothicNeoEB.woff') format('woff');
}

@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: 'SDGothicB';
  src: url('~/font/AppleSDGothicNeoB.woff') format('woff');
}
