@import './font';
@import './color';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  @include center();
  flex-direction: column;
  margin: auto;
  margin-top: 120px;
  width: 100%;
  height: 100%;
  .recommendText {
    @include center();
    width: 88px;
    height: 30px;
    transform: translate(-80px, 30px);
    // background: linear-gradient(40deg, lightCyan, skyBlue, deepSkyBlue);
    & h3 {
      font-size: 18px;
      font-weight: 600;
      font-family: 'SDGothicA';
    }
  }
}
.contentTop {
  display: flex;
  justify-content: flex-start;
  line-height: 20px;
  text-align: left;
  flex-direction: column;
  width: 286px;
  height: 74px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-sizing: border-box;
  padding-left: 12px;
  & h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'SDGothicB';
    line-height: 22px;
    margin-top: 12px;
    color: $blue;
  }
  & p {
    font-size: 14px;
    font-weight: 700;
    font-family: 'SDGothicB';
  }
}
.recommendCard {
  @include center();
  flex-direction: column;
  margin: auto;
  right: 0;
  left: 0;
  margin-top: 24px;
  box-sizing: border-box;
  .cardContainer {
    width: 18rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0.8rem;
    margin: 1.5rem auto;
    text-align: left;
    box-shadow: 0px 2px 5px #999;
  }
  & h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'SDGothicA';
    transform: translateY(-20px);
    padding-left: 20px;
  }
  & h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'SDGothicA';
    transform: translateY(-18px);
    padding-left: 20px;
  }
  & h4 {
    font-size: 14px;
    font-weight: 700;
    font-family: 'SDGothicL';
    padding-left: 20px;
    line-height: 28px;
  }
  & h5 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'SDGothicB';
    padding-left: 20px;
  }
  .icon {
    font-size: 18px;
    font-weight: 700;
    font-family: 'SDGothicL';
    transform: translate(250px, 20px);
    cursor: pointer;
  }
}
.orange {
  background: linear-gradient(40deg, Violet, Orange);
}
.blue {
  background: linear-gradient(40deg, lightCyan, skyBlue, deepSkyBlue);
}
.green {
  background: linear-gradient(40deg, yellow, lightGreen);
}
.pink {
  background: linear-gradient(40deg, lightCyan, pink);
}
.red {
  background: linear-gradient(40deg, lightCyan, red);
}

// 신청완료 페이지
.main {
  position: relative;
  .success {
    position: absolute;
    @include center();
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 600px;
    font-size: 84px;
    color: $menuTitleSpan;
  }
  & p {
    font-size: 18px;
    font-weight: 600;
    color: $menuTitle;
    margin-top: 20px;
  }
}

.tabsBox {
  width: 100vw;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.137);
  .tabs {
    font-size: 18px;
    font-weight: 700;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 286px;
    height: 40px;
    font-family: 'SDGothicA';
    margin-top: 32px;
  }
}

.swiper {
  margin-top: 18px;
}
.Skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 12rem;
  border-radius: 8px;
  margin: 1.5rem auto;
}
