@import './main.scss';

@keyframes slidein {
  from {
    margin-top: -1%;
    opacity: 0;
  }
  to {
    margin-top: 15px;
    opacity: 1;
  }
}
section {
  margin: 120px auto 100px;
}
h1 {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 1.3rem;
  text-align: center;
}
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  .search {
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    input {
      width: 220px;
      height: 28px;
      border: 0.7px solid $inputBorder;
      border-radius: 10px;
      background-color: $inputBG;
      padding: 3px 14px;
      font-size: 14px;
      &::placeholder {
        color: $hbgBarColor;
      }
      &:focus {
        border: 0.7px solid $inputFocus;
        outline: none;
        box-shadow: 0 0 1.5px $inputFocus;
      }
    }
    .searchBtn {
      position: absolute;
      right: 2px;
      z-index: 2;
      color: $hbgBarColor;
      margin: 7px;
    }
  }
  .filterBtn {
    color: $hbgBarColor;
    margin-left: 8px;
  }
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
  width: 325px;
  height: 110px;
  background-color: #dfeefa;
  border-radius: 8px;
  padding: 15px;
  animation-duration: 0.3s;
  animation-name: slidein;
  position: relative;
  div {
    display: flex;
    button {
      display: flex;
      border: none;
      border-radius: 0.9rem;
      padding: 0.4rem 0;
      margin: 4px 3px;
      font-weight: 500;
      color: #fff;
      justify-content: center;
      width: 3.5rem;
      // &:hover {
      //   cursor: pointer;
      //   background-color: #5da8ff;
      // }
    }
  }
  .kategorie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .resultBtn {
    background-color: transparent;
    color: #8a9bae;
    font-family: 'SDGothicB';
    font-size: 18px;
    border: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
.On {
  background-color: #55a3ff;
}
.Off {
  background-color: #a6cfff;
}
.Card {
  width: 18rem;
  height: 9rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  margin: 1.5rem auto;
  box-shadow: 0px 2px 5px #999;
  > h2 {
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
  }
  > h3 {
    width: 100%;
    font-weight: 700;
    font-size: 0.9rem;
  }
  > h4 {
    width: 100%;
    font-size: 0.8rem;
  }
  > p {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    text-align: right;
  }
}
.orange {
  background: linear-gradient(40deg, Violet, Orange);
}
.blue {
  background: linear-gradient(40deg, lightCyan, skyBlue, deepSkyBlue);
}
.green {
  background: linear-gradient(40deg, yellow, lightGreen);
}
.pink {
  background: linear-gradient(40deg, lightCyan, pink);
}
.red {
  background: linear-gradient(40deg, lightCyan, red);
}

.Modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  > section {
    width: 90%;
    max-width: 39rem;
    margin: 0 auto;
    border-radius: 0.7rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
    > header {
      padding: 2rem;
      color: #868686;
      font-size: 1rem;
      line-height: 2rem;
      text-align: center;
      border-bottom: 1px solid #dee2e6;
    }
    > footer {
      padding: 0.9rem 1rem;
      text-align: center;
    }
    > footer p {
      display: inline-block;
      padding: 6px 12px;
      color: #868686;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
.OpenModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#favStar {
  border: 0;
  outline: 0;
  background-color: inherit;
}
// recommend modal
.RecommendModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  > section {
    width: 90%;
    max-width: 39rem;
    margin: 0 auto;
    border-radius: 0.7rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
    > header {
      padding: 1.2rem;
      color: #868686;
      font-size: 1rem;
      text-align: center;
      border-bottom: 1px solid #dee2e6;
      .cart {
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        .cartIcon {
          transform: translateX(18px);
        }
      }
    }
    > main {
      padding: 5rem;
      text-align: left;
      font-size: 1rem;
      border-bottom: 1px solid #dee2e6;
    }
    > footer {
      padding: 0.9rem 1rem;
      text-align: center;
    }
    > footer button {
      display: inline-block;
      border: none;
      outline: none;
      padding: 8px 14px;
      color: #868686;
      font-size: 1rem;
      font-weight: 600;
      margin-left: 10px;
    }
  }
}
.OpenModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
