@import './main.scss';
.signIn {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 40px 0;
  font-family: 'SDGothicM';
  height: 650px;
}

.title {
  font-family: 'SDGothicL';
  font-size: 20px;
  display: block;
  width: 280px;
  p {
    display: block;
    padding: 10px 0;
    span {
      font-family: 'SDGothicH';
      font-size: 30px;
      line-height: 0;
      margin-left: 5px;
      color: $blue;
      text-shadow: 3px 3px #ffe139af;
    }
  }
}

.inputGroup {
  display: block;
  margin: 30px 0 20px;
}

.input {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  font-size: 13px;
  label {
    font-size: 20px;
    color: $iconColor;
    margin-right: 8px;
    padding-top: 5px;
  }
  input {
    width: 250px;
    height: 25px;
    border: 0.7px solid $inputBorder;
    border-radius: 10px;
    background-color: $inputBG;
    padding: 3px 10px;
    font-size: 13px;
    &::placeholder {
      color: #d1d1d6;
    }
    &:focus {
      border: 0.7px solid $inputFocus;
      outline: none;
      box-shadow: 0 0 1.5px $inputFocus;
    }
  }
}

.btn {
  height: 40px;
  width: 160px;
  border-radius: 5px;
  margin: 0 auto;
  border: none;
  background-color: $blue;
  color: #fff;
  font-size: 17px;
  font-family: 'SDGothicB';
}

.goSignUp {
  margin: 30px 0 10px;
  font-size: 14px;
  font-family: 'SDGothicB';
}

.signupbtn {
  height: 40px;
  width: 160px;
  border-radius: 5px;
  background-color: $blue;
  color: #fff;
  font-size: 17px;
  font-family: 'SDGothicB';
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
