@import './main.scss';

.header {
  height: 30px;
  display: flex;
  justify-content: center;
  margin-top: 110px;
  .title {
    font-size: 16px;
    font-family: 'SDGothicEB';
  }
}

.subTitle {
  font-size: 12px;
  font-family: 'SDGothicL';
  text-align: center;
}

.listContainer {
  display: flex;
  margin: 0 auto;
}

.labels {
  margin: 10px 0;
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: flex-end;

  & > label {
    display: flex;
    font-size: 14px;
    font-family: 'SDGothicB';
    margin: 21px 10px 0;
  }
  & > label:not(:last-child) {
    margin: 21px 10px 21px 0px;
  }
}

.writeField {
  margin: 10px 0;
  display: flex;
  width: 170px;
  flex-direction: column;
  & > * {
    display: flex;
    font-size: 13px;
    font-family: 'SDGothicB';
    margin: 11px 0;
  }
}

.input {
  width: 170px;
  height: 26px;
  border: 0.7px solid $inputBorder;
  border-radius: 10px;
  background-color: $inputBG;
  padding: 3px 13px;
  font-size: 13px;
  text-align: center;
  &::placeholder {
    color: #d1d1d6;
  }
  &:focus {
    border: 0.7px solid $inputFocus;
    outline: none;
    box-shadow: 0 0 1.5px $inputFocus;
  }
}

select {
  appearance: none;
  background: $inputBG url('../../public/assets/down-arrow.png') right 10px
    center no-repeat;
  background-size: 15px;
  width: fit-content;
  padding: 2.5px 30px 2.5px 20px;
  outline: 0 none;
  height: 33.4px;
  border: 0.7px solid $inputBorder;
  border-radius: 10px;
  font-size: 12px;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  option {
    padding: 3px auto;
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  cursor: pointer;
  height: 16px;
  background: $inputBG;
  outline: $iconColor solid 0.5px;
  width: 16px;
}

input[type='checkbox']::after {
  border: solid #fff;
  border-width: 0 1.95px 1.99px 0;
  content: '';
  display: none;
  height: 40%;
  left: 35%;
  position: relative;
  top: 20%;
  transform: rotate(45deg);
  width: 15%;
}

input[type='checkbox']:checked {
  background: $blue;
  outline: 0;
}

input[type='checkbox']:checked::after {
  display: block;
}

.ButtonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 375px;
  margin-bottom: 30px;
  & > input[type='button'] {
    display: flex;
    border: none;
    border-radius: 0.9rem;
    margin: 0.1rem;
    padding: 0.4rem 0.9rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    &:hover {
      cursor: pointer;
      background-color: #82bcff;
    }
  }
}
.On {
  background-color: #55a3ff;
}
.Off {
  background-color: #a6cfff;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  height: 40px;
  width: 160px;
  border-radius: 20px;
  margin: 0 0 90px;
  border: none;
  background-color: $blue;
  color: #fff;
  font-size: 17px;
  font-family: 'SDGothicB';
}
